{% extends "layouts/base.html" %}
{% load static  i18n %}
{% block content %}



            <!-- breadcrumb-area -->
            <section class="breadcrumb-area tg-motion-effects breadcrumb-bg" data-background="{% static 'img/bg/shop_navbar.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">{% translate "Shop Details" %}</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">{% translate "Home" %}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{% translate "Shop Details"%}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- shop-details-area -->
            <section class="shop-details-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shop-details-images-wrap">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane show active" id="itemOne-tab-pane" role="tabpanel" aria-labelledby="itemOne-tab" tabindex="0">
                                        <a href="{% static 'img/product/shop_details1.jpg' %}" class="popup-image">
                                            <img src="{% static 'img/product/shop_details1.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="tab-pane" id="itemTwo-tab-pane" role="tabpanel" aria-labelledby="itemTwo-tab" tabindex="0">
                                        <a href="{% static 'img/product/shop_details02.jpg' %}" class="popup-image">
                                            <img src="{% static 'img/product/shop_details02.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="tab-pane" id="itemThree-tab-pane" role="tabpanel" aria-labelledby="itemThree-tab" tabindex="0">
                                        <a href="{% static 'img/product/shop_details03.jpg' %}" class="popup-image">
                                            <img src="{% static 'img/product/shop_details03' %}.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="itemOne-tab" data-bs-toggle="tab" data-bs-target="#itemOne-tab-pane" type="button" role="tab" aria-controls="itemOne-tab-pane" aria-selected="true">
                                            <img src="{% static 'img/product/shop_nav_img01.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="itemTwo-tab" data-bs-toggle="tab" data-bs-target="#itemTwo-tab-pane" type="button" role="tab" aria-controls="itemTwo-tab-pane" aria-selected="false">
                                            <img src="{% static 'img/product/shop_nav_img02.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="itemThree-tab" data-bs-toggle="tab" data-bs-target="#itemThree-tab-pane" type="button" role="tab" aria-controls="itemThree-tab-pane" aria-selected="false">
                                            <img src="{% static 'img/product/shop_nav_img03.jpg' %}" alt="">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shop-details-content">
                                <h2 class="title">{% translate "Necessary Human Body" %}</h2>
                                <div class="review-wrap">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span>(4 customer reviews)</span>
                                </div>
                                <h3 class="price">$8.50 <span>- {% translate "In stock" %}</span></h3>
                                <div class="product-count-wrap">
                                    <span class="title">{% translate "Hurry Up! Sale ends in:"%}</span>
                                    <div class="coming-time" data-countdown="2024/7/6"></div>
                                </div>
                                <p>{% translate "Meat provide well shaped fresh and the organic meat well animals is Humans have hunted schistoric times meat, the flesh" %}</p>
                                <div class="shop-details-qty">
                                    <span class="title">{% translate "Quantity" %} :</span>
                                    <div class="shop-details-qty-inner">
                                        <form action="#">
                                            <div class="cart-plus-minus">
                                                <input type="text" value="1">
                                            </div>
                                        </form>
                                        <button class="purchase-btn">{% translate "PURCHASE" %}</button>
                                    </div>
                                </div>
                                <a href="#" class="buy-btn">{% translate "Buy it now" %}</a>
                                <div class="payment-method-wrap">
                                    <span class="title">{% translate "GUARANTEED SAFE CHECKOUT" %}:</span>
                                    <img src="{% static 'img/product/payment_method.png' %}" alt="">
                                </div>
                                <div class="shop-add-Wishlist">
                                    <a href="#"><i class="far fa-heart"></i>{% translate "Add to Wishlist" %}</a>
                                </div>
                                <div class="sd-sku">
                                    <span class="title">{% translate "SKU" %}:</span>
                                    <a href="#">002</a>
                                </div>
                                <div class="sd-category">
                                    <span class="title">{% translate "CATEGORY" %}:</span>
                                    <ul class="list-wrap">
                                        <li><a href="#">{% translate "lipstick" %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-desc-wrap">
                                <ul class="nav nav-tabs" id="descriptionTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Description</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="false">Reviews (0)</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="descriptionTabContent">
                                    <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
                                        <div class="product-description-content">
                                            <p>{% translate "committed are products that have been produced using sustainable fibers or processes, reducing their environmental impact. Umino’s goal is to support the implementation of practices more committed to the environment. I am like a freight train. Working on the details, twisting and playing with them over the years, but always staying on the same track I design from instinct. It’s the only way I know how to live."%}</p>
                                            <ul class="list-wrap">
                                                <li>{% translate "Committed are products that have been produced" %}</li>
                                                <li>{% translate "It’s the only way I know how to live." %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                                        <div class="product-desc-review">
                                            <div class="product-desc-review-title mb-15">
                                                <h5 class="title">{% translate "Customer Reviews" %} (0)</h5>
                                            </div>
                                            <div class="left-rc">
                                                <p>{% translate "No reviews yet" %}</p>
                                            </div>
                                            <div class="right-rc">
                                                <a href="#">{% translate "Write a review" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- shop-details-area-end -->

            <!-- product-area -->
            <section class="related-product-area pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center mb-50">
                                <span class="sub-title">{% translate "Organic Shop"%}</span>
                                <h2 class="title">{% translate "Related Products" %}</h2>
                                <div class="title-shape" data-background="{% static 'img/images/title_shape.png' %}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item-wrap-three">
                        <div class="row justify-content-center rp-active">
                            <div class="col-xl-3">
                                <div class="product-item-three inner-product-item">
                                    <div class="product-thumb-three">
                                        <a href="shop-details.html"><img src="{% static 'img/product/inner_product1.png' %}" alt=""></a>
                                        <span class="batch">{% translate "New"%}<i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="product-content-three">
                                        <a href="shop.html" class="tag">organic</a>
                                        <h2 class="title"><a href="shop-details.html">{% translate "roast chicken" %}</a></h2>
                                        <h2 class="price">$4.99</h2>
                                        <div class="product-cart-wrap">
                                            <form action="#">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-shape-two">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                            <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="product-item-three inner-product-item">
                                    <div class="product-thumb-three">
                                        <a href="shop-details.html"><img src="{% static 'img/product/inner_product02.png' %}" alt=""></a>
                                        <span class="batch">{% translate "New" %}<i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="product-content-three">
                                        <a href="shop.html" class="tag">{% translate "organic" %}</a>
                                        <h2 class="title"><a href="shop-details.html">{% translate "Venison meat" %}</a></h2>
                                        <h2 class="price">$4.99</h2>
                                        <div class="product-cart-wrap">
                                            <form action="#">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-shape-two">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                            <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="product-item-three inner-product-item">
                                    <div class="product-thumb-three">
                                        <a href="shop-details.html"><img src="{% static 'img/product/inner_product3.png' %}" alt=""></a>
                                        <span class="batch">{% translate "New" %}<i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="product-content-three">
                                        <a href="shop.html" class="tag">{% translate "organic" %}</a>
                                        <h2 class="title"><a href="shop-details.html">{% translate "processed meat" %}</a></h2>
                                        <h2 class="price">$4.99</h2>
                                        <div class="product-cart-wrap">
                                            <form action="#">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-shape-two">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                            <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="product-item-three inner-product-item">
                                    <div class="product-thumb-three">
                                        <a href="shop-details.html"><img src="{% static 'img/product/inner_product4.png' %}" alt=""></a>
                                        <span class="batch">{% translate "New" %}<i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="product-content-three">
                                        <a href="shop.html" class="tag">{% translate "organic" %}</a>
                                        <h2 class="title"><a href="shop-details.html">{% translate "roast chicken" %}</a></h2>
                                        <h2 class="price">$4.99</h2>
                                        <div class="product-cart-wrap">
                                            <form action="#">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-shape-two">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                            <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="product-item-three inner-product-item">
                                    <div class="product-thumb-three">
                                        <a href="shop-details.html"><img src="{% static 'img/product/inner_product5.png' %}" alt=""></a>
                                        <span class="batch">{% translate "New" %}<i class="fas fa-star"></i></span>
                                    </div>
                                    <div class="product-content-three">
                                        <a href="shop.html" class="tag">{% translate "organic" %}</a>
                                        <h2 class="title"><a href="shop-details.html">{% translate "Venison meat" %}</a></h2>
                                        <h2 class="price">$4.99</h2>
                                        <div class="product-cart-wrap">
                                            <form action="#">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-shape-two">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                            <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product-area-end -->
{% endblock %}
